@theme {
  --color-midnight: #1e1e2f;
  --color-night-sky: #2a2a40;
  --color-violet: #3d3d5c;
  --color-purple: #352a40;
  --color-plum: #402A40;
  --color-smoky: #f0f0f5;
}
@import "tailwindcss";
@import url(https://fonts.bunny.net/css?family=alexandria:400,500,600,700);
body {
  font-family: 'Alexandria', sans-serif;
}
button, a {
  cursor: pointer
}

menu.main-navbar {
  -webkit-app-region: drag;
}

menu.main-navbar button {
  -webkit-app-region: no-drag;
}
